/* Variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}


/* Border box model */
html {
    box-sizing: border-box;
}
* , *::before, *::after {
    box-sizing: inherit;
}


/* Generic styles for the page */
body {
    padding: 0;
    margin-left: 50px;
    margin-right: 50px;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    color: var(--magenta);
    text-decoration: none;
}

a:hover {
    color: var(--hotmag);
}



/* Navbar */
nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav[class*="h1-logo"]{
    font-size: 150%;
    color: var(--aqua);
}

nav h1[class*="h1-logo"]{
    font-size: 100%;
    color: var(--aqua);
}

nav ul li span img {
    width: 15px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
}

nav a:hover {
    color: var(--magenta);
}


@media (min-width: 850px){
    nav{
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}


/*Footer content*/
footer{
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 3rem;
    gap: 3rem;
}
